#all-promotion{
  display: flex;
  flex-direction: column;
  #promotion{
    display: flex;
    font-size: 23px ;
    margin: 30px 0 10px 180px;
    color: #888888;
  }
  #img-promotion{
    margin: 0 0 90px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


