<div id="below">
  <div id="below-left">
    <div id="below-left-1">
      <p>Nhấp vào đây để phản hồi, đánh <br/> giá dịch vụ và nhận 1 phần quà từ <br/> McDonald's</p>
    </div>
    <div id="below-left-2">
      <button>Chúng tôi lắng nghe bạn</button>
    </div>
  </div>
  <div id="below-right">
    <div id="below-right-1">
      <p>Nhập email <br/> để nhận thông tin khuyến mãi</p>
    </div>
    <div id="below-right-2">
      <input type="text">
      <div id="send">
        <p>Gửi</p>
      </div>
    </div>
    <div id="below-right-3">
      <p>Bằng việc nhấn gửi, bạn đã đồng ý với các Điều kiện & Điều khoản của chúng tôi.</p>
    </div>
  </div>
</div>
