<p id="title">Tin Tức</p>
<div id="all-news">
  <div id="left">
    <img src="https://mcdonalds.vn/uploads/2018/news/x433356932_821480010019371_1213062953753638056_n.jpg.pagespeed.ic.HIWNJzPItw.webp" alt="">
    <p>10 TUỔI McDONALD'S CÓ CHÙM DEAL 10 ĐIỂM</p>
    <button>Xem chi tiết</button>
  </div>
  <div id="right">
    <div class="news">
      <img class="img-news" src="https://mcdonalds.vn/uploads/2018/news/xTet-2024.jpg.pagespeed.ic.tu6vigAaT-.webp" alt="">
      <div class="tops">
      <p class="top-news">TẾT ĐỦ ĐẦY LÀ TẾT CÓ THỊNH VƯỢNG</p>
      <p>Khép lại năm cũ với bao chuyện vui buồn, đây<br/>là thời điểm để nhà nhà cùng sum họp, đoàn...</p>
    </div>
    </div>
    <div class="news">
      <img class="img-news" src="https://mcdonalds.vn/uploads/2018/news/xIMG_5405-min.JPG.pagespeed.ic.nt9C_4tDwr.webp" alt="">
      <div class="tops">
        <p class="top-news">McDONALD’S 6 NĂM LIÊN TIẾP ĐẠT GIẢI <br/> THƯỞNG TIN DÙNG VIỆT NAM</p>
        <p>Ngày 21/12/2023, McDonald’s Việt Nam được<br/>vinh danh tại “Lễ Công bố & Vinh danh Top...</p>
      </div>
    </div>
    <div class="news">
      <img class="img-news"  src="https://mcdonalds.vn/uploads/2018/news/x2023_McDPlayset_HDMB_tvscreen.png.pagespeed.ic.JEGPE8L4te.webp" alt="">
      <div class="tops">
        <p class="top-news">TEAM MÊ CHƠI “ĐỒ HÀNG” ĐÂU GIƠ TAY<br/> CHO McDONALD’S XEM NÀ</p>
        <p>Từ ngày mai (14/12), bộ đồ chơi nhập vai siêu <br/> đáng iu sẽ cập bến các cửa hàng McDonald’s...</p>
      </div>
    </div>
    <div  class="news">
      <img class="img-news" src="https://mcdonalds.vn/uploads/2018/news/1(9).jpg" alt="">
      <div class="tops">
        <p class="top-news">CÙNG KHÁM PHÁ NHỮNG ĐIỀU ĐẶC BIỆT<br/> CHỈ CÓ Ở McDONALD’S NGUYỄN VĂN LINH ĐÀ NẴNG...</p>
      </div>
    </div>
    <div class="news">
      <img class="img-news" src="https://mcdonalds.vn/uploads/2018/news/xmas23_POSold.png" alt="">
      <div class="tops">
        <p class="top-news">CỐC CỐC CỐC! BẠN CÓ QUÀ NOEL TỪ<br/> McDONALD’S NÈ</p>
        <p>Từ ngày 7-26/12/2023, McFans sẽ có cơ hội <br/> nhận ngay quà Giáng Sinh sớm chính là 1 cốc...</p>
      </div>
    </div>
  </div>
</div>
