p{
  font-size: 29px;
  color: #888888;
  margin: 30px 0 0 190px;
}
#product-list{
  margin: 30px 0 0 190px;
  width: 83%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
app-card{
  width: auto;
  max-width: 270px;
}
app-below{
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  width: 100%;
}
#navbar{
  margin: 0 0 1px 0;
}
#img{
  display: grid;
  grid-template-rows: auto 1fr auto;
}
