<div><app-img></app-img></div>
<div id="all">
  <div class="container">
    <img id="img" src="https://mcdonalds.vn/uploads/2018/home/xhome-app.png.pagespeed.ic.p9O9GbBP1M.webp" class="background-image">
    <div id="overlay" class="overlay">
      <p class="sub-text">Tích điểm, đổi quà và ưu đãi</p>
      <h2 class="main-text">ỨNG DỤNG McDONALD'S</h2>
      <button class="download-button">TẢI ỨNG DỤNG</button>
    </div>
  </div>
</div>
<div id="picture">
  <div id="left">
    <img id="cafe" src="https://mcdonalds.vn/uploads/2018/home/xmccafe_desktop.jpg.pagespeed.ic.lCmAlPSTFS.webp" alt="">
    <p>Mc CAFE </p>
  </div>
  <div id="right">
    <div id="right-1">
      <div id="right-2">
    <div id="story">
      <img src="https://mcdonalds.vn/uploads/2018/home/xhome-histories-mobile-md.png.pagespeed.ic.NeREJREw4V.webp" alt="">
      <p>CÂU CHUYỆN VỀ McDONALD'S</p>
    </div>
    <div id="recruitment">
      <img src="https://mcdonalds.vn/uploads/2018/home/xhr-mobile.jpg.pagespeed.ic.FtXbibgL9W.webp" alt="">
      <p>TUYỂN DỤNG</p>
    </div>
      </div>
    <div id="hamburger">
      <img src="https://mcdonalds.vn/uploads/2018/home/xhome-banner-hamburger.png.pagespeed.ic.TGwspAa0oc.webp" alt="">
      <div id="food">
      <p>HAMBUGER</p>
      <p>KHÁM PHÁ VỊ NGON LỪNG DANH</p>
      </div>
    </div>
    </div>
  </div>
</div>
<app-delivery></app-delivery>
<app-listen></app-listen>
