<div id="delivery">
  <img src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t1.15752-9/480949947_1700596780668655_3711802710265474720_n.png?stp=dst-png_s2048x2048&_nc_cat=102&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeF1phmBKDD6hwOuYIQnOeVxgMJDNwu0JwOAwkM3C7QnA1I5p2gckv8AcDow-46z7JL-G7Qq2_QI4lUSavpSnYhh&_nc_ohc=--oGAVISIVUQ7kNvgHwVrOT&_nc_oc=Adh1i9lQ2zdVU9mAG94hCkPO1GAzhfCNrNY9zoUPH7hpwcPI7be4ble20z16nU1g86k&_nc_zt=23&_nc_ht=scontent.fsgn5-9.fna&oh=03_Q7cD1gGoKVG06VlCK5J45FmKKYe7KbIqZIxVAJMJOWFPIrjd6g&oe=67DFA26B" alt="">
<div id="delivery-1">
  <div id="all-service">
  <p id="mc">McDELIVERY<sup>TM</sup></p>
  <p id="service">Dịch vụ giao hàng của McDonald's. Đặt hàng đơn giản, giao hàng nhanh chóng.</p>
</div>
  <div>
    <button id="btn">ĐẶT HÀNG NGAY</button>
  </div>
</div>
</div>
